
.action-block{
    margin-bottom: 20px;

    .go-back{
        margin-right: 20px;
    }
}
.history{
    position: absolute;
    top: 56px;
    right: 0px;
    bottom: 0px;
    background-color: #FFFFFF;
    padding: 20px;
    border-left: 1px solid #D8D8D8;
}